

  <section>

    <!-- Placeholder content - This is where the views will go eventually -->
    <h2>Vegetarian-friendly accommodation, restaurants &amp; eating out in London</h2>

    <p><br />

      <a style="color: rgb(0, 153, 0);" href="london.html"><img style="border: 10px solid ;color: transparent; width: 311px; height: 221px; float: left;" alt="Restaurants Hotels eating out in London vegetarian and vegan" src="images/london.jpg" hspace="15" vspace="4" /></a>

      <p>London has a long tradition of vegetarianism, stretching back more than a century to the establishment of the London Vegetarian Society (later VSUK) and it also saw the founding of the Vegan Society in November 1944. But not until 1961, when the first Cranks restaurant was opened in London's trendy Carnaby Street, could vegetarians start to really feel at home. Many other restaurants followed over the next decades.</p>

      <p>Nowadays it is a sign of neglect in even the very best hotels and restaurants if they don't have vegetarian, and quite often also one or more vegan, options on their menu. You can find pretty much anything you might fancy, from organic veggie burgers, a wide variety of delicious salads and traditional British fare to an all-you-can-eat Chinese buffet and a gourmet fine dining extravaganza.</p>

      <p>See the sights of London, such as Trafalgar Square, Tower Bridge and the Tower of London, Buckingham Palace, St James's Park, the London Eye, St Paul's Cathedral, Big Ben and the Houses of Parliament. Visit the London Dungeon, Madame Tussauds, the National Gallery, the Science Museum and many other great museums housing unique treasures. London's acclaimed theatres offer everything from Shakespeare to musicals, drama and comedy, opera and ballet. Whatever you are interested in, you can find it in London!</p>

    </div>
  </div>

  <div id="body-divider"></div>

  <br />

  <div id="content2">

    <div class="content-padding">
      <br />
      <br />

      <h2><a name="LONDON"></a><a name="LONDON_AND_MIDDLESEX"></a><B>LONDON AND <a name="MIDDLESEX"></a>MIDDLESEX 2018</B></h2>

      <p></p>
      <p></p>

      <h2>Accommodation</h2>

      <p></p>

      <h3>Roseview Alexandra Palace Hotel</h3>
      <p>tel 020 8365 2535, fax 020 8365 2686</p>
      <p>2 Queens Avenue, Muswell Hill, Alexandra Palace, London N10 3NR</p>
      <p>email: <a href="mailto:reception@roseviewhotel.co.uk">reception@roseviewhotel.co.uk</a></p>
      <p>website: <a target="_blank" href="http://www.roseviewhotel.co.uk">www.roseviewhotel.co.uk</a></p>
      <p></p>
      <p><a href="http://www.roseviewhotel.co.uk" target=_blank><img style="border: 0px solid ; width: 483px; height: 284.4px;" alt="Roseview Hotel B&amp;B Alexandra Palace London Vegetarian Friendly" src="images2015/2015England/South/2015-London-RoseviewHotel.jpg" /></a></p>
      <p></p>
      <p>The Roseview Hotel is a vegetarian-friendly Bed &amp;
        Breakfast in Alexandra Palace, London, where there are many vegetarian
        restaurants around including a Planet Organic Store. All rooms are en-suite and
        offer satellite TV, hair dryer, tea &amp; coffee tray and free WiFi. Check out
        our competitive tariff.</p>
        <p>H INS CatA Ve NS Acc50</p>

        <p>&nbsp;</p>

        <h3>One Fanthorpe Street</h3>
        <p>tel 020 8785 7609, fax 020 8789 5584</p>
        <p>1 Fanthorpe Street, Putney, London SW15 1DZ</p>
        <p>email: <a href="mailto:bbputney@gmail.com">bbputney@gmail.com</a></p>
        <p>website: <a target="_blank" href="http://www.bbputney.com">www.bbputney.com</a></p>
        <p></p>
        <p><a href="http://www.bbputney.com" target=_blank><img style="border: 0px solid ; width: 483px; height: 362px;" alt="One, Fanthorpe Street, Putney, Nr Richmond London B&amp;B Vegetarian friendly" src="images 2016/onefanthorpe.jpg" /></a></p>
        <p></p>
        <p>Robert and Imogen Taylor welcome you to a unique British
          experience. Our rooms are comfortable and reasonably priced. There is easy
          access to the centre of London. Putney has one of the best riverside locations,
          with attractive walks.</p>
          <p>PH CatB Ve NS Acc6</p>

          <p>&nbsp;</p>

          <h3>The Temple Lodge Club</h3>
          <p>tel 020 8748 8388</p>
          <p>51 Queen Caroline Street, Hammersmith, London W6 9QL</p>
          <p>email: <a href="mailto:booking@templelodgeclub.com">booking@templelodgeclub.com</a></p>
          <p>website: <a target="_blank" href="http://www.templelodgeclub.com">www.templelodgeclub.com</a></p>
          <p></p>
          <p><a href="http://www.templelodgeclub.com" target=_blank><img style="border: 0px solid ; width: 483px; height: 360px;" alt="Hammersmith  bed and breakfast Hammersmith London Piccadilly District Line" src="images2015/2015England/South/2015-London-TempleLodge.jpg" /></a></p>
          <p></p>
          <p>Our newest room - luxury double fully en-suite - is called after the artist Frank Brangwyn whose home was Temple Lodge during the first quarter of the 20th century. His former home has been carefully and tastefully renovated and offers bed and breakfast accommodation to all wanting to share in its quiet ambience and partake of breakfast overlooking lawn and garden. His former studio has been rebuilt as a church.</p>
          <p>G INS CatA V Ve NS Acc17</p>

          <p></p>
          <br />

          <h2>Cafés, restaurants, pubs</h2>

          <p></p>
          <p></p>

          <h2><a name="_Central_London"></a><span style="">Central London</h2>

            <p></p>

            <p>Carnevale Restaurant,&nbsp;tel 020 7250 3452, 135 Whitecross Street, London EC1Y 8JL. &nbsp; R L c org F</p>

            <p>&nbsp;</p>

            <p>The Gate Restaurant,&nbsp;tel 020 7278 5483, 370 St John Street, London EC1V 4NN. &nbsp; R L c</p>

            <p>&nbsp;</p>

            <p>Hotpot Restaurants Ltd, tel 020 7287 8881, 17 Wardour Street, London W1D 6PJ. &nbsp; R L a</p>

            <p>&nbsp;</p>

            <p>Hummus Bros, tel 020 7734 1311, 62 Exmouth Market, London EC1R 4QE &nbsp; R a w</p>

            <p>&nbsp;</p>

            <p>Tas Restaurant, tel 020 7430 9721, 37 Farringdon Road, London EC1M 3JB. &nbsp; R L a</p>

            <p>&nbsp;</p>

            <p>Café Below, tel 020 7329 0789, St. Mary-le-Bow Church, Cheapside, London EC2V 6AU. &nbsp; R/C L a</p>

            <p>&nbsp;</p>

            <p>Hummus Bros, tel 020 7734 1311. 128 Cheapside, London EC2V 6BT. &nbsp; R a w</p>

            <p>&nbsp;</p>

            <p>Hummus Bros, tel 020 7283 8107, 20 Eastcheap, London EC3M 1EB. &nbsp; R a w</p>

            <p>&nbsp;</p>

            <p>Vanilla Black, tel 020 7242 2622, 17-18 Tooks Court, London EC4A 1LB. &nbsp; R L c</p>

            <p>&nbsp;</p>

            <p>Quilon, tel 020 7821 1899, 41 Buckingham Gate, London SW1E 6AF. &nbsp; R L a F</p>

            <p>&nbsp;</p>

            <p>The Gate Restaurant, tel 020 7724 6656, 22-24 Seymour Place, Marylebone, London W1H 7NL. &nbsp; R L c</p>

            <p>&nbsp;</p>

            <p>Hummus Bros, tel 020 7734 1311, 88 Wardour Street, London W1F 0TJ. &nbsp; R a w</p>

            <p>&nbsp;</p>

            <p>Mildreds, tel 020 7494 1634, 45 Lexington Street, Soho, London W1F 9AN. &nbsp; R L c w org F</p>

            <p>&nbsp;</p>

            <p>La Porte des Indes, tel 020 7224 0055, 32 Bryanston Street, Marble Arch, London W1H 7EG. &nbsp; R L a</p>

            <p>&nbsp;</p>

            <p>tibits Restaurant Bar Food to Go, tel 020 7758 4110, 12-14 Heddon Street, off Regent Street, London W1B 4DA. &nbsp; R/C L c</p>

            <p>&nbsp;</p>

            <p>Hummus Bros, tel 020 7734 1311, Victoria House, 37-63 Southampton Row, London WC1B 4DA. &nbsp; R a w</p>

            <p>&nbsp;</p>

            <p>Hummus Bros, tel 020 7734 1311, 12 Gray's Inn Road, London WC1X 8HG. &nbsp; R a w</p>

            <p>&nbsp;</p>

            <p>Gaby's Deli, tel 020 7836 4233, 30 Charing Cross Road, London WC2H 0DB. &nbsp; R L a</p>

            <p></p>
            <p></p>

            <h2><a name="East_London"></a>East London</h2>

            <p></p>

            <p>Black Cat Café, tel 020 8985 7091, 76A Clarence Road, London E5 8HB. &nbsp; C d org F</p>

            <p>&nbsp;</p>

            <p>Mildreds, tel 020 8017 1815, 1 Dalston Square, London E8 3GU &nbsp; R L c w org F</p>

            <p>&nbsp;</p>

            <p>Pidgin, tel 020 7254 8311, 52 Wilton Way, Hackney, London E8 1BG. &nbsp; R L a</p>

            <p></p>
            <p></p>

            <h2><a name="North_London"></a>North London</h2>

            <p></p>

            <p>Foodilic, tel 020 7278 7887, 260 Pentonville Road, London N1 9JY. &nbsp; R/C L a org F</p>

            <p>&nbsp;</p>

            <p>Mildreds, tel 020 7278 9422, 200 Pentonville Road, London N1 9JP. &nbsp; R L c w org F</p>

            <p>&nbsp;</p>

            <p>Rasa N16, tel 020 7249 0344, 55 Stoke Newington Church Street, London N16. &nbsp; R L c</p>

            <p>&nbsp;</p>

            <p>The Loving Hut, tel 020 7281 8989, 669 Holloway Road, London N19 5SE. &nbsp; R d F</p>

            <p>&nbsp;</p>

            <p>Mildreds, tel 020 7482 4200/020 7482 1773, 9-11 Jamestown Road, London NW1 7BW. &nbsp; R L c w org F</p>

            <p>&nbsp;</p>

            <p><a href="https://www.facebook.com/pages/manna-restaurant/39025664131" target=_blank><img style="border: 0px solid ; width: 633px; height: 464px;" alt="Manna vegetarian vegan restaurant Primrose Hill London diet menu" src="images2015/2015England/South/2015-London-Manna-Restaurant.jpg" /></a></p>
            <p></p>
            <p>Manna Restaurant, tel 020 7722, 8028, 4 Erskine Road, Primrose Hill, London NW3 3AJ</p>
            <p>Vegan, full license 100% vegan. Organic, whole food, Fairtrade when viable and available, certified organic bakery.</p>
            <p><a href="http://mannav.com" target=_blank>mannaV.com</a></p>
            <p>Also see display advert above.</p>
            <p>R L d w org F</p>

            <p></p>
            <p></p>

            <h2><a name="_Central_London"></a>South London</h2>

            <p></p>

            <p>Garden Café, tel 020 7401 8865, Garden Museum, 5 Lambeth Palace Road, London SE1 7LB. &nbsp; C a org</p>

            <p>&nbsp;</p>

            <p>Tas Pide, tel 020 7928 3300, 20-22 New Globe Walk, London SE1 9DR. &nbsp; R L a</p>

            <p>&nbsp;</p>

            <p>Tas Restaurant, tel 020 7403 7200, 72 Borough High Street, London SE1 1XF. &nbsp; R L a</p>

            <p>&nbsp;</p>

            <p>Mulberry Tea Rooms, tel 020 8856 3951, Charlton House, Charlton Road, Charlton, London SE7 8RE. &nbsp; C a org F</p>

            <p>&nbsp;</p>

            <p>The Ragged Canteen at Beaconsfield, tel 020 7582 6465, 22 Newport Street, London SE11 6AY. &nbsp; C L c F</p>

            <p>&nbsp;</p>

            <p>Domali Bar and Kitchen, tel 020 8768 0096, 38 Westow Street, Crystal Palace, London SE19 3AH. &nbsp; R/Bar L a F</p>

            <p>&nbsp;</p>

            <p>Lu-Ma Café, tel 020 8296 6714, 43 Worple Road, Wimbledon, London SW19 4JZ. &nbsp; C c org F</p>

            <p></p>
            <p></p>

            <h2><a name="westlondon"></a>West London</h2>

            <p></p>

            <p>The Gate Restaurant, tel 020 8748 6932, 51 Queen Caroline Street, Hammersmith, London W6 9QL. &nbsp; R L c</p>

            <p>&nbsp;</p>

            <p>222 Veggie Vegan Restaurant, tel 020 7381 2322, 222 North End Road, London W14 9NU. &nbsp; R L d w org F</p>

            <p>&nbsp;</p>

            <p>Hollyhock Café, tel 020 8948 6555, Terrace Gardens, Richmond Riverside, Richmond TW10 6UX</p>
            <p>Beautiful little café with verandah overlooking the Thames in Victorian flower garden.
              Salads, pastries, soups, ices and chilled drinks served all day.</p>
              <p>C c</p>

              <p>&nbsp;</p>

              <p>Tide Tables, tel 020 8948 8285, Riverside, Richmond TW9 1TH</p>
              <p>Wonderful setting on banks of the River Thames at Richmond. Delicious salads, bakes and
                snacks, smoothies, ice cream and gourmet coffees and teas served all day. <a target="_blank" href="http://www.tidetablescafe.com">www.tidetablescafe.com</a></p>
                <p>R/C L c org</p>

                <p></p>
                <p></p>

                <h2><a name="Middlesex"></a>Middlesex</h2>

                <p></p>

                <p>Tin Tin Restaurant, tel 020 8941 8987/1233, 75 High Street, Hampton Hill TW12 1NH. &nbsp; R L a</p>

                <p>&nbsp;</p>

                <p>Pradip’s Vegetarian Restaurant, tel 020 8909 2232, 154-156 Kenton Road, Harrow HA3 8AZ. &nbsp; R c</p>

                <br />
                <br />
                <br />

                <div id="bottomlinks">

                  <h2><a href="london.html">London</a>

                    <h2><a href="stheast.html">South and South East</a> <i>(Dorset (East), Hampshire, Kent, Surrey, Sussex)</i></h2>

                    <h2><a href="sthwest.html">South West</a> <i>(Cornwall, Devon, Dorset (West), Somerset incl Bath and Bristol, Wiltshire)</i></h2>

                    <h2><a href="thameschilt.html">Thames & Chilterns</a> <i>(Bedfordshire, Berkshire, Hertfordshire, Oxfordshire)</i></h2>

                    <h2><a href="eastanglia.html">East Anglia</a> <i>(Cambridgeshire, Essex, Norfolk, Suffolk)</i></h2>

                    <h2><a href="eastmids.html">East Midlands</a> <i>(Derbyshire, Leicestershire, Lincolnshire, Northamptonshire, Nottinghamshire)</i></h2>

                    <h2><a href="heart.html">Heart Of England</a> <i>(Gloucestershire, Herefordshire, Shropshire, Warwickshire, West Midlands, Worcestershire)</i></h2>

                    <h2><a href="ntheast.html">North East</a> <i>(Northumberland, Tyne & Wear, Yorkshire)</i></h2>

                    <h2><a href="nthwest.html">North West</a> <i>(Cheshire, Cumbria and the Lake District, Isle of Man, Lancashire incl Manchester and Merseyside)</i></h2>

                    <br />
                    <br />
                    <br />

                    <div class="clearfloats"><span style="color: white;">

                      <a href="index.html">Home</a> -
                      <a href="england.html">Vegetarian England</a> -
                      <a href="scotland.html">Vegetarian Scotland</a> -
                      <a href="wales.html">Vegetarian Wales</a> -
                      <a href="offers.html">Special Offers and Courses</a> -
                      <a href="contact/contactform.htm">Contact us</a></span></div>
                    </div>
                  </div>
                </div>

                <div id="footer-div"></div>

                <div id="footer">

                  <p><a href="index.html">Vegetarian Visitor&nbsp;</a> © Copyright Annemarie Weitzel 2000 - 2018, All rights reserved. </p>

                </div>
              </div>
              <!-- End page lengthener stuff -->






            </section>