<section>

    <h1>Vegetarian<span style="color: rgb(174, 240, 128);">Visitor</span>&nbsp;<span style="color: white;">Guide to</span>&nbsp;<span style="color: rgb(174, 240, 128);">Wales 2018</span></h1>
    <h2>
        Vegetarian-friendly
        accommodation &amp; eating out in <font size="1">
            <a href="#North_Wales">North Wales - Conwy including Llandudno & Gwynedd</a>&nbsp;
            <a href="#Powys">Powys including Hay on Wye</a>&nbsp;
            <a href="#South_Wales">South Wales - Gwent, Mid Glamorgan including Cardiff, West Glamorgan</a>&nbsp;
            <a href="#West_Wales">West Wales - Carmarthenshire, Ceredigion, Pembrokeshire</a>
    </h2>
    <p></p>
    <br />
    <img style="border: 10px solid ; color: transparent; width: 350x; height: 205px; float: left;" alt="Caernarfon Castle, Wales" src="images 2016/caernarfon1.jpg" hspace="6" />
    <p>Modern Wales is famed for its beautiful scenery, world-renowned male voice choirs, history of coal mining and the resilience of its native language – Welsh is still widely spoken and many (if not all) road and other signs are in both Welsh and English.</p>
    <p>But Wales has a complex history - one of conquest and resistance, from the arrival of the Celts and their Druid priests in the Iron Age, the Roman invasion in AD47, the slow Norman penetration of the 11th and 12th centuries and the Edwardian quelling of Welsh independence, to the Welsh rebellions, the best known (and last) of which was that of Owain Glyndwr (immortalized by Shakespeare as Owen Glendower) against England in the early 15th century. After centuries of conflict, Wales was finally united with England in 1536.</p>
    <p>The evidence of this history can be seen all around; in the Roman walls at Caerwent, the great 8th century boundary line of Offa’s Dyke and the many impressive castles – including Caernarfon (see picture), Beaumaris and the ruined Norman castle in Aberystwyth, captured by Owain Glyndwr during his rebellion.</p>
    <p>In addition to the historical attractions, there is much to explore in the landscape of Wales. The Wales Coast Path, the many lakes, rivers and waterfalls, the Gower peninsula and the mountains – such as Gwynedd’s Mount Snowdon, the highest mountain in Wales (a stiff 5km trek to the peak from nearby Llanberis, but very worthwhile for the more adventurous visitor!) and the Brecon Beacons.</p>
    <p>Wales has more to offer than just history and nature however; there are plenty of noteworthy cities and towns to visit. Cardiff, the capital of Wales, has industry as well as history, Hay-on-Wye in Powys is a famous book town with an annual literary festival, Caerphilly in Mid-Glamorgan is famous for its cheese and castle and Llandudno in Conwy is a popular seaside resort.</p>
    <p>Wales, land of mountains and castles, Celts, bards and Druidic lore - there is so much to discover, explore and enjoy!</p>
    <hr style="width: 100%; height: 2px;" />
    <br />
    <p>Entries are grouped in four geographical regions and then alphabetically by county, then town or village, then name.</p>
    </div>
    </div>

    <div id="body-divider"></div>
    <br />
    <div id="content2">
        <div class="content-padding">
            <br /><br />

            <h2><a name="WALES"></a><B>WALES 2018</B></h2>
            <p></p>
            <p></p>
            <h2><a name="North_Wales"></a><b>North Wales</b></h2>
            <p></p>
            <p></p>
            <h2>Accommodation</h2>
            <p></p>
            <h3>The Hilary Llandudno 4 Star Guest House</h3>
            <p>tel 01492 875623</p>
            <p>32 St Davids Road, Llandudno, Conwy LL30 2UL</p>
            <p>email: <a href="mailto:thehilarybandb@gmail.com">thehilarybandb@gmail.com</a></p>
            <p>website: <a target="_blank" href="http://www.the-hilary.co.uk">www.the-hilary.co.uk</a></p>
            <p></p>
            <p><a href="http://www.the-hilary.co.uk" target="_blank"><img style="border: 0px solid ; width: 483px; height: 360px;" alt="The Hilary Guest House B&amp;B Llandudno North Wales" src="images2015/2015Wales/2015-NWales-The-Hilary-Llandudno.jpg" /></a></p>
            <p></p>
            <p><i>A truly wonderful place to stay.</i></p>
            <p>
                The perfect place to relax, unwind and enjoy yourself while exploring beautiful
                North Wales. Your hosts, Paul and Fiona, have a well-deserved reputation for
                attention to detail, friendly top class service, comfortable beds and the most
                delicious of breakfasts. The 8 guest rooms are en-suite, have flat screen
                freeview TV, free WiFi and refrigerator among the many
                luxuries provided as standard. Plus there’s free off-road parking, which can be
                essential in Llandudno. The Hilary bed and breakfast guest house is centrally
                located in the quiet garden area of Llandudno. It is an easy walk to the pier,
                promenade, town centre, and we look forward to seeing you soon at The Hilary.
            </p>
            <p>
                Where possible we source our ingredients locally. We are proud owners of a Green
                Tourism Silver Award and actively support the use of Fairtrade products and
                chemical-free cleaning.
            </p>
            <p>G INS CatB DA Ve NS Acc16</p>
            <p>&nbsp;</p>
            <h3>Glanddwyryd</h3>
            <p>tel 01766 590288</p>
            <p>Maentwrog, Blaenau Ffestiniog, Gwynedd LL41 4HN</p>
            <p>email: <a href="mailto:maentwross@gmail.com">maentwross@gmail.com</a></p>
            <p>website: <a target="_blank" href="http://www.glanddwyryd.weebly.com/index.html">glanddwyryd.weebly.com/index.html</a></p>
            <p></p>
            <p><a href="http://www.glanddwyryd.weebly.com/index.html" target=_blank><img style="border: 0px solid ; width: 483px; height: 322px;" alt="Glanddwyryd Bed and Breakfast Snowdonia wales Snowdon Portmeirion  vegan Vegetarian B&amp;B" src="images 2016/Glanddwyryd, Gwynedd - 2.jpg" /></a></p>
            <p></p>
            <p>Glanddwyryd is a small, 2-room family-run B&amp;B on an ecological basis. It is in the heart of spectacular Snowdonia, close to Portmeirion, Harlech and the Ffestiniog Steam Train. Great walks start at our door. We have an extensive organic vegan, vegetarian and non-vegetarian breakfast menu with many home-made ingredients. We speak Dutch, German and English and are happy to help you organise your stay with maps and information.</p>
            <p>PH CatB Ve pNS Acc4</p>
            <p>&nbsp;</p>
            <h3>Ivy House</h3>
            <p>tel 01341 422535, fax 01341 422689</p>
            <p>Finsbury Square, Dolgellau, Gwynedd LL40 1RF</p>
            <p>email: <a href="mailto:ivyhouse.dolgellau@gmail.com">ivyhouse.dolgellau@gmail.com</a></p>
            <p>website: <a target="_blank" href="http://www.ivyhouse-dolgellau.co.uk">www.ivyhouse-dolgellau.co.uk</a></p>
            <p></p>
            <p><a href="http://www.ivyhouse-dolgellau.co.uk" target=_blank><img style="border: 0px solid ; width: 483px; height: 334px;" alt="Ivy Guest House Dolellau Gwynedd wales B&amp;B Vegetarian options" src="images2015/2015Wales/2015-NWales-Ivy-House.jpg" /></a></p>
            <p></p>
            <p>
                Country town guest house offering attractive accommodation, good food and a welcoming
                atmosphere. The six bedrooms have TV, hairdryers and tea/coffee facilities,
                four of them have en-suite facilities. Delicious vegetarian/traditional
                breakfasts. Open all year.
            </p>
            <p>G INS CatB Ve NS Acc13</p>
            <p>&nbsp;</p>
            <h3><a name="trigonos"></a>Trigonos -&nbsp;&nbsp; <a href="offers.html#trigonos">***COURSES AVAILABLE***</a></h3>
            <p>tel 01286 882388</p>
            <p>Plas Baladeulyn, Nantlle, Caernarfon, Gwynedd LL54 6BW</p>
            <p>email: <a href="mailto:info@trigonos.org">info@trigonos.org</a></p>
            <p>website: <a target="_blank" href="http://www.trigonos.org">www.trigonos.org</a></p>
            <p></p>
            <p><a href="http://www.trigonos.org" target=_blank><img style="border: 0px solid ; width: 483px; height: 362px;" alt="Trigonos" src="images 2016/Trigonos.jpg" /></a></p>
            <p></p>
            <p>An 18 acre estate in a quiet Snowdonia valley. We border a lake within a superb mountain landscape that looks up to the west face of Snowdon. </p>
            <p>Trigonos is a vegetarian events venue also providing B&amp;B with optional lunch and dinner. We have accommodation for up to 32 people.</p>
            <p>Excellent food with a wide variety of special diets catered for. Unlicensed but bring your own.</p>
            <p>Full information on accommodation, prices (inc. B&amp;B) and residential courses: <a target="_blank" href="http://www.trigonos.org">www.trigonos.org</a></p>
            <p>Wonderful base for climbing, hill walking, visiting castles, narrow gauge railway and exploring wild Wales.</p>
            <p>Accessible by public transport.</p>
            <p>Venue CatB DA V Ve NS Acc32</p>
            <p></p>
            <br />
            <h2>Cafés, restaurants, pubs</h2>
            <p></p>
            <p>Barnacles, tel 01492 875336, 7 &amp; 7A Mostyn Street, Llandudno, Conwy LL30 2NL. &nbsp; C L a</p>
            <p>&nbsp;</p>
            <p>Tamarind Thai Restaurant, tel 01492 515429, 410 Abergele Road, Old Colwyn, Colwyn Bay, Conwy LL29 9AB. &nbsp; R L a</p>
            <p>&nbsp;</p>
            <p>The Groes Inn, tel 01492 650545, Tyn-y-Groes, Conwy LL32 8TN. &nbsp; P L a</p>
            <p>&nbsp;</p>
            <p><img style="width: 456px; height: 590px;" alt="Kyffin Cafe Bangor Vegetarian cafe deli vegan dishes" src="images 2016/Kyffin cafe.jpg" /></p>
            <p></p>
            <p>Kyffin, tel 01248 355161, 129 High Street, Bangor, Gwynedd LL57 1NT</p>
            <p>Email: <a href="mailto:kyffincafedeli@gmail.com">kyffincafedeli@gmail.com</a>. See display advert above.</p>
            <p>C and Supper Club L c org F</p>
            <p>&nbsp;</p>
            <p>Beddgelert Bistro &amp; Antiques, tel 01766 890543, Waterloo House, Beddgelert, Gwynedd LL55 4UY. &nbsp; R/C L a org</p>
            <p></p>
            <p></p>
            <p></p>
            <h2><a name="Powys"></a><b>Powys</b></h2>
            <p></p>
            <p></p>
            <h2>Accommodation</h2>
            <p></p>
            <h3>Glasbury B&amp;B -&nbsp;&nbsp; <a href="offers.html#glasbury">***OFFERS AVAILABLE***</a></h3>
            <p>tel 01497 842998, mobile 07720 717124</p>
            <p>Rosedale, Glasbury on Wye HR3 5LN</p>
            <p>email: <a href="mailto:nicky.legge@madasafish.com">nicky.legge@madasafish.com</a></p>
            <p>website: <a target="_blank" href="http://www.glasburybnb.co.uk">www.glasburybnb.co.uk</a></p>
            <p></p>
            <p><a href="http://www.glasburybnb.co.uk" target=_blank><img style="border: 0px solid ; width: 483px; height: 361px;" alt="Glasbury B&amp;B, Powys" src="images 2016/Glasbury.jpg" /></a></p>
            <p></p>
            <p>Nicky and Alistair invite you to stay in our pretty, character cottage in the small riverside village of Glasbury, 4 miles up river from the border town of Hay-on-Wye. There are two guest rooms, a double with a king size bed and large en-suite with shower and bath, and a single room with private bathroom which also has a bath and shower. Both rooms have far-reaching views across farmland to the Brecon Beacons with amazing sunsets and dark night skies. Guests are welcome to use out large sunny garden, sun room and cosy guests' lounge with wood burning stove and comfy sofas. </p>
            <p>
                We offer a generous breakfast with a variety of cereals, fruit and yoghurt, fruit juice, ground coffee and a choice of teas and Alistair cooks a very special vegetarian or vegan breakfast, including seasonal produce from our garden, accompanied by home made bread and jams.
                For evening meals there are two restaurants and a pub in the village which are all able to cater for special diets, as well as all the pubs and restaurants a 10-minute drive away in Hay-on-Wye.
            </p>
            <p>You can rent canoes or bikes in the village, where you can also catch the 39 bus to Brecon or Hereford via Hay. The Wye Valley Walk and Sustrans Cycle Route 8, Chepstow to Holyhead, pass our door.</p>
            <p>G CatB V Ve NS Acc3</p>
            <p>&nbsp;</p>
            <h3>Hay Stables -&nbsp;&nbsp; <a href="offers.html#haystables">***OFFERS AVAILABLE***</a></h3>
            <p>tel 01497 820008</p>
            <p>Oxford Road, Hay-on-Wye HR3 5AJ</p>
            <p>email: <a href="mailto:lindalewebb@gmail.com">lindalewebb@gmail.com</a></p>
            <p>website: <a target="_blank" href="http://www.haystables.co.uk">www.haystables.co.uk</a></p>
            <p></p>
            <p><a href="http://www.haystables.co.uk" target=_blank><img style="border: 0px solid ; width: 483px; height: 361px;" alt="Hay Stables Hay on Wye nr Offa's Dyke Brecon guest house B&amp;B &amp; self catering" src="images2015/2015Wales/2015-Powys-Hay-Stables-Hay-on-Wye.jpg" /></a></p>
            <p></p>
            <p>Informal guest house in the famous book town of Hay-on-Wye. On the Offa's Dyke path and just a short stroll to the bookshops and restaurants. Brecon 13 miles, Hereford 20 miles - we are on the bus route to both. Dogs welcome. The tariff is £75 for two people sharing a room, single supplement varies with the season.</p>
            <p>Three double/twin en-suite rooms with TV, wifi and parking. A generous self-serve continental breakfast (vegetarian/vegan ingredients) is included and you may use the fully equipped kitchen any time of the day and make an evening meal if you wish. It is also possible to rent the whole house for family and friends. Sleeps 6, from £200 per night, 2 nights minimum, initial generous welcome breakfast materials provided. Dogs welcome.</p>
            <p>
                We also have the lovely Old Post Office at Llanigon (Hay, 2 miles), which offers self-serve
                vegetarian/vegan continental breakfast with use of the kitchen at any time
                throughout the day. It can also be booked as a self-catering let of the whole
                house, sleeps 8. Dog friendly. Please visit <a target="_blank" href="http://www.oldpost-office.co.uk">www.oldpost-office.co.uk</a>, email as above.
            </p>
            <p>
                Self-catering lets of both Hay Stables and the Old Post Office come with generous
                vegetarian/vegan 'welcome' breakfast foods.
            </p>
            <p>G/Self catering CatB NS Acc6</p>
            <p></p>
            <br />
            <h2>Cafés, restaurants, pubs</h2>
            <p></p>
            <p>The Granary, tel 01497 820480, Broad Street, Hay-on-Wye HR3 5DB. &nbsp; R/C L a w</p>
            <p>&nbsp;</p>
            <p>Old Swan Tea Rooms, tel 01597 811060, West Street, Rhayader LD6 5AB.</p>
            <p>We change our menu and add new dishes on a regular basis. Please check our website <a target="_blank" href="http://www.oldswantearooms.co.uk">www.oldswantearooms.co.uk</a></p>
            <p>C a org</p>
            <p></p>
            <p></p>
            <p></p>
            <h2><a name="South_Wales"></a><b>South Wales</b></h2>
            <p></p>
            <p></p>
            <h2>Accommodation</h2>
            <p></p>
            <h3>Ty Rosa Boutique B&B -&nbsp;&nbsp; <a href="offers.html#tyrosa">***OFFERS AVAILABLE***</a></h3>
            <p>tel 02920 221964, fax 02920 027930</p>
            <p>118 Clive Street, Cardiff, South Glamorgan CF11 7JE</p>
            <p>email: <a href="mailto:info@tyrosa.com">info@tyrosa.com</a></p>
            <p>website: <a target="_blank" href="http://www.tyrosa.com">www.tyrosa.com</a></p>
            <p></p>
            <p><a href="http://www.tyrosa.com" target=_blank><img style="border: 0px solid ; width: 400px; height: 533px;" alt="Ty Rosa B&amp;B South Wales" src="images 2016/Ty Rosa.jpg" /></a></p>
            <p></p>
            <p>A tranquil place to stay just a 15/20 minute walk between the City centre and Cardiff Bay. With free parking and free wi-fi plus a breakfast you would expect at a five star hotel. A large selection and full vegan menu but also catering for coeliac, gluten- and diary-free. Come and relax with us in sumptuous rooms and cosy lounge and enjoy a freshly cooked to order breakfast.</p>
            <p>G CatB Ve pNS Acc20</p>
            <p></p>
            <br />
            <h2>Cafés, restaurants, pubs</h2>
            <p></p>
            <p>Llantarnam Grange Arts Centre Café, tel 01633 483321, St David’s Road, Cwmbran, Gwent NP44 1PD. &nbsp; C a</p>
            <p>&nbsp;</p>
            <p>Crumbs Kitchen Cardiff, tel 02920 395007, 33 Morgan Arcade, Cardiff, South Glamorgan CF10 1AF. &nbsp; C c org</p>
            <p>&nbsp;</p>
            <p>Embassy Café, tel 02920 373144, Cathays Community Centre, 36 Cathays Terrace, Cardiff, South Glamorgan CF24 4HX. &nbsp; C c</p>
            <p>&nbsp;</p>
            <p>Mina Lebanese Restaurant, tel 02920 235212, 43 Crwys Road, Cardiff, South Glamorgan CF24 4ND. &nbsp; R L a</p>
            <p>&nbsp;</p>
            <p>Vegetarian Food Studio, tel 02920 238222, 109 Penarth Road, Grangetown, Cardiff, South Glamorgan CF11 6JT. &nbsp; R c</p>
            <p>&nbsp;</p>
            <p>Crumbs Kitchen Swansea, tel 01792 456258, 2 Gwydr Square, Uplands, Swansea, West Glamorgan SA2 0ND. &nbsp; C L c org</p>
            <p></p>
            <p></p>
            <p></p>
            <h2><a name="West_Wales"></a><b>West Wales</b></h2>
            <p></p>
            <p></p>
            <h2>Accommodation</h2>
            <p></p>
            <h3>Vegetarian Penrhiw -&nbsp;&nbsp; <a href="offers.html#vegetarianpenrhiw">***OFFERS AVAILABLE***</a></h3>
            <p>tel 07837 712323</p>
            <p>Llanafan, Aberystwyth, Ceredigion SY23 4BA</p>
            <p>email: <a href="mailto:penrhiw@fastmail.fm">penrhiw@fastmail.fm</a></p>
            <p>website: <a target="_blank" href="http://www.vegetarianpenrhiw.com">www.vegetarianpenrhiw.com</a></p>
            <p></p>
            <p><a href="http://www.vegetarianpenrhiw.com" target=_blank><img style="border: 0px solid ; width: 483px; height: 358px;" alt="Penrhiw Aberystwyth vegetarian B&amp;B bed and breakfast farmhouse Wales" src="images2015/2015Wales/2015-Wales-Penrhiw-Aberystwyth.jpg" /></a></p>
            <p></p>
            <p><b>In between the mountains and the sea</b>. Our Vegetarian Bed & Breakfast accommodation in West Wales is located in the peaceful village of Llanafan, 10 miles/16 kms south east of the university seaside town of <b>Aberystwyth</b>.</p>
            <p><b>Penrhiw</b> is a small 19th-century Welsh farmhouse perched on a hill on the edge of the village; it looks down the Ystwyth Valley to the hills and forests beyond. Visitors to our vegetarian accommodation in West Wales will be provided with hearty and healthy meat-free breakfasts in the most friendly and comfortable of surroundings. Everyone is welcome - even carnivores. <b>The best b & b in West Wales</b>!</p>
            <p>G CatB V Ve NS Acc6</p>
            <p>&nbsp;</p>
            <h3>Over the Rainbow Wales -&nbsp;&nbsp; <a href="offers.html#overtherainbow">***OFFERS & COURSES AVAILABLE***</a></h3>
            <p>tel 01239 811155</p>
            <p>Plas Tyllwyd Mansion, Tan-y-Groes, near Cardigan, Ceredigion SA43 2JD</p>
            <p>email: <a href="mailto:info@overtherainbowwales.co.uk">info@overtherainbowwales.co.uk</a></p>
            <p>website: <a target="_blank" href="http://www.overtherainbowwales.co.uk">www.overtherainbowwales.co.uk</a></p>
            <p>video: <a target="_blank" href="https://vimeo.com/133037042">vimeo.com/133037042</a></p>
            <p></p>
            <p><a href="http://www.overtherainbowwales.co.uk" target=_blank><img style="border: 0px solid ; width: 483px; height: 322px;" alt="Secluded Vegetarian Guest House Cardigan Bay B&amp;B Bed and Breakfast Wales Dolphins" src="images2015/2015Wales/2015-Wales-OvertheRainbow.jpg" /></a></p>
            <p></p>
            <p>A secluded Vegetarian & Vegan Country Retreat in Cardigan Bay only 3 miles from the coast. Here at Over the Rainbow you can completely unwind and relax just watching the stars and listening to the silence. A restored Georgian mansion nestled amongst acres of woodland and gardens with idyllic views across the rolling Welsh countryside, offering accommodation for individuals, families and groups. With well appointed, sumptuous centrally heated single, double and twin en-suite rooms with décor reflecting influences of female myths and legends from around the world. You can stay B&amp;B or hire the venue exclusively for small group holidays, celebrations, civil wedding ceremonies or residential courses.</p>
            <p>Based in Cardigan Bay, you will be perfectly placed for an amazing day dolphin spotting; relaxing on the beach at Poppit, Mwnt, Tresaith or Llangrannog. Within easy reach of National Trust property Llanerchaeron at the seaside town of Aberaeron; the Welsh Wildlife Centre; Cenarth Falls; Devils Bridge; or the many public gardens, farmers markets, galleries and antique shops in this peaceful coastal county.</p>
            <p>With the Wales coast path 'tracing the shape of the nation' this is an ideal base for walkers; you can explore the Teifi Valley, Ceredigion coastline and Pembrokeshire National Park, all only minutes away.</p>
            <p>We provide vegetarian and vegan home-cooked breakfasts and evening meals (weekends) for B&amp;B guests; full catering for groups and workshops with occasional Lazy Sunday Brunches open to the public. We use our own home-grown supplies wherever we can, or source from other local growers and suppliers wherever possible. Gluten-free diets can be catered for.</p>
            <p>Vegetarian Society Approved, member of Green Traveller and Green Tourism 'Gold' award winner, we take our responsibility to the environment seriously and look forward to welcoming likeminded visitors.</p>
            <p>G CatA V Ve NS CN Acc10</p>
            <p>&nbsp;</p>
            <h3>High Noon Guest House -&nbsp;&nbsp; <a href="offers.html#highnoon">***OFFERS AVAILABLE***</a></h3>
            <p>tel 01646 683736, mobile 07592 995750</p>
            <p>Lower Lamphey Road, Pembroke, Pembrokeshire SA71 4AB</p>
            <p>email: <a href="mailto:info@highnoon.co.uk">info@highnoon.co.uk</a></p>
            <p>website: <a target="_blank" href="http://www.highnoon.co.uk">www.highnoon.co.uk</a></p>
            <p></p>
            <p><a href="http://www.highnoon.co.uk" target=_blank><img style="border: 0px solid ; width: 483px; height: 362px;" alt="High Noon Guest House Pembroke, Pembrokeshire" src="images 2016/High Noon, Pembroke.jpg" /></a></p>
            <p></p>
            <p>High Noon Guest House offers clean, comfortable, great value bed and breakfast in the town of Pembroke. High Noon has been a Guest House since 1978 and has always been very popular for its good atmosphere and service. We have a range of rooms to suit all requirements - double, twin, family and singles are available.</p>
            <p>We have a comfortable guest lounge and dining room, which are a real home from home and are open for the guests to use all day. There's a fridge and microwave for guests to use ... a cosy retreat for relaxed holiday evenings. Families with children are very welcome!!!</p>
            <p>Our breakfast is delicious and it's all vegetarian! We cater for vegans as well, and would like to answer any dietary needs if notified in advance.</p>
            <p>We are striving to create a place where people can enjoy a good breakfast and a clean, cosy room while caring for animals and for the environment.</p>
            <p>G CatB V Ve NS Acc13+1 child and 2 baby cots (more children can take adult beds)</p>
            <p>&nbsp;</p>
            <h3>Cuffern Manor -&nbsp;&nbsp; <a href="offers.html#cuffernmanor">***OFFERS & COURSES AVAILABLE***</a></h3>
            <p>tel 01437 710071</p>
            <p>Roch, Haverfordwest, Pembrokeshire SA62 6HB</p>
            <p>email: <a href="mailto:enquiries@cuffernmanor.co.uk">enquiries@cuffernmanor.co.uk</a></p>
            <p>website: <a target="_blank" href="http://www.cuffernmanor.co.uk">www.cuffernmanor.co.uk</a></p>
            <p></p>
            <p><a href="http://www.cuffernmanor.co.uk" target=_blank><img style="border: 0px solid ; width: 483px; height: 321px;" alt="Cuffern Manor Guest house and intimate conference centre Haverfordwest vegan options" src="images2015/2015Wales/2015-Wales-Cuffern-Manor-Roch.jpg" /></a></p>
            <p></p>
            <p>
                Built in 1770, Cuffern Manor is set in three-and-a-half acres of walled garden,
                woodlands and lawns. This award-winning guest house is perfectly located for
                exploring one of the finest unspoilt coastal areas in the world. We can also
                accommodate up to 20 friends or family groups who want to share exclusive use
                and be together. We also host small conferences for up to 50
                non-residents.
            </p>
            <p>We also have a self-catering barn conversion suitable for 6 people and newly available in 2018 our cosy one-bedroomed self-catering bothy with woodburning stove, mezzanine floor bedroom, bathroom/shower. Both barns have free wifi.</p>
            <p>In 2016 we achieved a Green Key award, an international award for environmentally progressive businesses, amongst the first in Wales. This award acknowledged our investment in biomass heating and PV panels.</p>
            <p>
                We cater for all dietary needs. Our garden provides the soft fruit (raspberries,
                strawberries, blackcurrants, blackberries) for our breakfasts and fresh
                vegetables for evening meals (when available). We have lifts to all
                accommodation and special facilities for our disabled guests to ensure their
                comfort and enjoyment.
            </p>
            <p>G INS CatA L DA Ve NS CN Acc25</p>
            <p></p>
            <br />
            <h2>Cafés, restaurants, pubs</h2>
            <p></p>
            <p>Caffi Iechyd Da, tel 01267 238861, 2B Jacksons Lane, Carmarthen, Carmarthenshire SA32 8NY. &nbsp; R/C L c w org F</p>
            <p>&nbsp;</p>
            <p>Waverley Restaurant, tel 01267 236521, 23 Lammas Street, Carmarthen, Carmarthenshire SA31 3AL. &nbsp; R L c org F</p>
            <p>&nbsp;</p>
            <p>Altalia Bistro &amp; Bar, tel 01554 751157, 2 Stepney Street, Llanelli, Carmarthenshire SA15 3UP. &nbsp; R L a</p>
            <p>&nbsp;</p>
            <p>The Treehouse, tel 01970 615791, Victoria House, 14 Baker Street, Aberystwyth, Ceredigion SY23 2BJ</p>
            <p>Aberystwyth’s favourite café and shop for the best organic, local and seasonal produce. Vegans, vegetarians, carnivores and freethinkers all welcome.</p>
            <p>R/C L a w org F</p>
            <p>&nbsp;</p>
            <p>Mulberry Bush Café, tel 01570 423317, 2 Bridge Street, Lampeter, Ceredigion SA48 7HG. &nbsp; C L c w org F</p>
            <p>&nbsp;</p>
            <p>Glasshouse Café, tel 01239 621600, Welsh Wildlife Centre, Cilgerran, near Cardigan, Pembrokeshire SA43 2TB. &nbsp; C L a</p>
            <p>&nbsp;</p>
            <p>Café Peppers, tel 01348 874540, West Wales Arts Centre, 16 West Street, Fishguard, Pembrokeshire SA65 9AE. &nbsp; R/C L a</p>
            <p>&nbsp;</p>
            <p>Caffè Vista, tel 01834 849636, 3 Crackwell Street, Tenby, Pembrokeshire SA70 7HA. &nbsp; C L a</p>
            <br />
            <br />
            <br />
</section>