<section>

<p>Vegetarian Visitor is the Number One, annually completely checked and updated, guide to accommodation and eateries in Britain which take catering for vegetarians and vegans seriously.</p>
<p>With the increasing emphasis on healthy eating, more and more people are looking for places to stay and eat that provide for vegetarians. Here we list B&Bs, guest houses, hotels, restaurants, cafés and pubs that know what vegetarians' and vegans' requirements are and want to cater for them properly - not by just serving a token vegetarian lasagne, but by providing a variety of tasty and imaginative dishes for breakfast, lunch and evening meals.</p>
<p>Britain has been home to many vegetarian VIPs and celebrities - Paul McCartney, Sir Isaac Newton, H.G. Wells, Sting, Tony Benn, Kate Bush, Sir John Gielgud and Jude Law, to name but a few - and its eateries serve a truly international range of food, from simple English 'pub grub' through Caribbean, Mexican, Indian, Thai and Chinese to French haute cuisine.</p>
<p>As this guide shows, there is no reason why vegetarians and vegans should miss out!</p>
<hr style="width: 100%; height: 2px;" />
<br />
<P>Entries for England are grouped geographically in sections and within each section alphabetically by county, then town or village, the name.</P>
<P>For London the accommodation addresses are listed first, with the eateries divided into Central, East, North, South and West and under these heading arranged first by postcode (i.e. E1, EC1, N1, SE1, SW1, W1, WC1), then alphabetically by name.</P>
<P>For Scotland entries are arranged alphabetically by county, then town or village, then name.</P>
<P>For Wales entries are grouped under North Wales, Powys, South Wales and West Wales and then alphabetically by county, then town or village, then name.</P>
<p><center><a href="offers.html"><img style="border: 0px solid ; width: 728px; height: 90px;" alt="Best Restaurants Hotels B&amp;B Guest Houses For Vegetarian Vegan Diets" src="images2015/2015England/Banner.jpg" /></a></center></p>
<br />
<P>Vegetarian Visitor was for many years, until 2012,  published as an award-winning annual guidebook and since 2001 has also been a website.</P>
<P>Suggestions about places to include are very welcome. Please use the <a href="contact/contactform.htm">contact form</a> and give as many details as possible, particularly the establishment's email address and/or phone number.</P>
</div>
</div>


<div id="body-divider"></div>
<div id="content2">
    <div class="content-padding">
        <div class="content2-block">
            <center><h2>Guide to - <br>Accommodation</span></span></h2></center>
            <br />
            <p style="text-align: justify;" class="MsoNormal c44">The codes indicate the following:<o:p></o:p></p>
            <p style="text-align: justify;" class="MsoNormal c44">
                <strong style="color: rgb(89, 204, 48);">H</strong> Hotel<strong>
                    <span>
                    </span>
            <p class="MsoNormal c44"><strong style="color: rgb(89, 204, 48);">G</strong> Guest house<o:p></o:p></p>
            <p class="MsoNormal c44">
                <strong style="color: rgb(89, 204, 48);">PH</strong> Private
                house (B&B)<o:p></o:p>
            </p>
            <p class="MsoNormal c44">
                <strong style="color: rgb(89, 204, 48);">INS</strong> Inspected under one of
                the schemes operating in Britain; full details can be obtained from the
                establishment concerned if required <o:p></o:p>
            </p>
            <p class="MsoNormal c44"><strong style="color: rgb(89, 204, 48);">L</strong> Licensed<o:p></o:p></p>
            <p class="MsoNormal c44">
                <strong style="color: rgb(89, 204, 48);">DA</strong><span style="color: rgb(89, 204, 48);"> </span>Disabled
                access<strong><o:p></o:p></strong>
            </p>
            <p class="MsoNormal c44">
                <strong style="color: rgb(89, 204, 48);">V</strong>
                Exclusively vegetarian: entries without this code also cater for
                non-vegetarians <o:p></o:p>
            </p>
            <p class="MsoNormal c44">
                <strong style="color: rgb(89, 204, 48);">Ve</strong> Also
                catering for vegans; please mention you are a vegan when you contact
                the establishment<o:p></o:p>
            </p>
            <p class="MsoNormal c44">
                <strong style="color: rgb(89, 204, 48);">Vegan</strong>
                Exclusively vegan<strong><o:p></o:p></strong>
            </p>
            <p class="MsoNormal c44">
                <strong style="color: rgb(89, 204, 48);">NS</strong> No
                smoking anywhere on the premises (may include garden)<o:p></o:p>
            </p>
            <p class="MsoNormal c44">
                <strong style="color: rgb(89, 204, 48);">pNS</strong> Smoking
                restricted to certain areas only<o:p></o:p>
            </p>
            <p class="MsoNormal c44">
                <strong style="color: rgb(89, 204, 48);">CN</strong><span style="color: rgb(89, 204, 48);"> </span>Car
                necessary: a car/taxi journey or extended walk is needed from the
                nearest public transport<o:p></o:p>
            </p>
            <p class="MsoNormal c44">
                <strong style="color: rgb(89, 204, 48);">Acc2</strong><span style="color: rgb(89, 204, 48);"> </span>Accommodation
                for two adults; children travelling with their parents can sometimes be
                accommodated additionally<o:p style="color: white;"></o:p>
            </p>
            <span style="color: white;" class="c7">
                Price
                categories for bed and breakfast per person per night (minimum, guide
                only):<br />
                <br />
                <strong style="color: rgb(89, 204, 48);">CatA</strong> over £40.00
                <br />
                <br />
                <strong style="color: rgb(89, 204, 48);">CatB</strong> £27.50-£40.00
                <br />
                <br />
                <strong style="color: rgb(89, 204, 48);">CatC</strong> under £27.50
            </span></span><b><span style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"></span></b><span style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">&nbsp;<o:p></o:p></span>
            <br />
            <br />
            <br />
            <br />
            </span>
        </div>
        <div class="content-divider"></div>
        <div class="content2-block">
            <center><h2>Guide to - <br>Eating Out</span></span></h2></center>
            <br />
            <p><span class="c7">The codes for cafés, restaurants and pubs indicate:</span></p>
            <p class="MsoNormal c44"><strong style="color: rgb(89, 204, 48);">R</strong> Restaurant</p>
            <p class="MsoNormal c44"><strong style="color: rgb(89, 204, 48);">C</strong> Café</p>
            <p class="MsoNormal c44"><strong style="color: rgb(89, 204, 48);">P</strong> Pub</p>
            <p class="MsoNormal c44"><strong style="color: rgb(89, 204, 48);">L</strong> Licensed</p>
            <p class="MsoNormal c44">
                <strong style="color: rgb(89, 204, 48);">a</strong> A selection of vegetarian dishes daily, as well as non-vegetarian
                food; quite often at least one vegan dish is also on the menu
            </p>
            <p class="MsoNormal c44"><strong style="color: rgb(89, 204, 48);">b</strong> Vegetarian food only</p>
            <p class="MsoNormal c44"><strong style="color: rgb(89, 204, 48);">c</strong> Vegetarian and vegan food only</p>
            <p class="MsoNormal c44"><strong style="color: rgb(89, 204, 48);">d</strong> Vegan food only</p>
            <p class="MsoNormal c44"><strong style="color: rgb(89, 204, 48);">w</strong> Wholefood</p>
            <p class="MsoNormal c44"><strong style="color: rgb(89, 204, 48);">org</strong> Organic produce used whenever possible</p>
            <p class="MsoNormal c44"><strong style="color: rgb(89, 204, 48);">F</strong> Fairtrade products used</p>
            <P></P>
            <P></P>
            <P></P>
            <P></P>
            <br />
            <br />
            <br />
            <br />
            <p class="MsoNormal" style="">
                As
                England, Wales and Scotland have a ban on smoking in public places, which
                includes restaurants, cafés and pubs, all establishments are smoke-free.<span style="">&nbsp; </span><o:p></o:p></span>
            </p>
            <p class="MsoNormal" style="">
                Opening
                times may vary not only by establishment but also by season. As a general rule,
                cafés will be open during the day but not in the evening, and are often closed
                on Sundays and Bank Holidays. Restaurants are generally open for lunch and in
                the evening; they may be closed one day a week, but this is not usually Sunday.
                Pubs are normally open seven days a week and may be open all day and in the
                evening. If you want to be sure that your chosen eating place is open, please
                give them a ring. <o:p></o:p></span>
            </p>
        </div>
        <div class="content-divider"></div>
        <div class="content2-block">

            <h3 class="button inputstyle"><strong><strong><center>Vegetarian 2018</center></strong></strong></h3>
            <br />
            <h3><strong><strong><a href="scotland.html">Accommodation & Restaurants in Scotland</a></strong></strong></h3>
            <h4>
                <small>
                    <small>
                        <small>
                            <small>
                                <small>
                                    <small>
                                        <small>
                                            <small>
                                                <small>
                                                    <a class="c10" href="scotland.html#Borders">Scottish Borders</a><span class="c10"> -- </span>
                                                    <a class="c10" href="scotland.html#Galloway">Dumfries & Galloway</a><span class="c10"> -- </span>
                                                    <a class="c10" href="scotland.html#Edinburgh">Edinburgh</a><span class="c10"> -- </span>
                                                    <a class="c10" href="scotland.html#Fife">Fife</a><span class="c10"> -- </span>
                                                    <a class="c10" href="scotland.html#Glasgow">Glasgow</a><span class="c10"> -- </span>
                                                    <a class="c10" href="scotland.html#Highlands">Scottish Highlands</a><span class="c10"> -- </span>
                                                    <a class="c10" href="scotland.html#Western_Isles">Western Scottish Islands, Mull and Skye</a><span class="c10"></span>
                                                </small>
                                            </small>
                                        </small>
                                    </small>
                                </small>
                            </small>
                        </small>
                    </small>
                </small>
            </h4>
            <br />
            <h3 class="button inputstyle"><strong><strong><center>Vegetarian 2018</center></strong></strong></h3>
            <br />
            <h3><strong><strong><a href="wales.html">Accommodation & Restaurants in Wales</a></strong></strong></h3>
            <h4>
                <small>
                    <small>
                        <small>
                            <small>
                                <small>
                                    <small>
                                        <small>
                                            <small>
                                                <small>
                                                    <a class="c10" href="wales.html#North_Wales">North Wales</a><span class="c10"> -- </span>
                                                    <a class="c10" href="wales.html#Powys">Powys</a><span class="c10"> -- </span>
                                                    <a class="c10" href="wales.html#South_Wales">South Wales</a><span class="c10"> -- </span>
                                                    <a class="c10" href="wales.html#West_Wales">West Wales</a><span class="c10"></span>
                                                </small>
                                            </small>
                                        </small>
                                    </small>
                                </small>
                            </small>
                        </small>
                    </small>
                </small>
            </h4>
            <br />
            <h3 class="button inputstyle"><strong><strong><center>Vegetarian 2018</center></strong></strong></h3>
            <br />
            <h3><strong><strong><a href="london.html">Accommodation & Restaurants in London</a></strong></strong></h3>

            <h3 class="button inputstyle"><strong><strong><center>Vegetarian 2018</center></strong></strong></h3>
            <br />
            <h3><strong><strong><a href="stheast.html">Accommodation & Restaurants in South and South East England</a></strong></strong></h3>
            <h4>
                <small>
                    <small>
                        <small>
                            <small>
                                <small>
                                    <small>
                                        <small>
                                            <small>
                                                <small>
                                                    <a class="c10" href="stheast.html#Dorset">Dorset (East)</a><span class="c10"> -- </span>
                                                    <a class="c10" href="stheast.html#Hampshire">Hampshire</a><span class="c10"> -- </span>
                                                    <a class="c10" href="stheast.html#Isleofwight">Isle of Wight</a><span class="c10"> -- </span>
                                                    <a class="c10" href="stheast.html#Kent">Kent</a><span class="c10"> -- </span>
                                                    <a class="c10" href="stheast.html#Surrey">Surrey</a><span class="c10"> -- </span>
                                                    <a class="c10" href="stheast.html#Sussex">Sussex</a><span class="c10"></span>
                                                </small>
                                            </small>
                                        </small>
                                    </small>
                                </small>
                            </small>
                        </small>
                    </small>
                </small>
            </h4>

            <br />

            <h3 class="button inputstyle"><strong><strong><center>Vegetarian 2018</center></strong></strong></h3>
            <br />
            <h3><strong><strong><a href="sthwest.html">Accommodation & Restaurants in South West England</a></strong></strong></h3>
            <h4>
                <small>
                    <small>
                        <small>
                            <small>
                                <small>
                                    <small>
                                        <small>
                                            <small>
                                                <small>
                                                    <a class="c10" href="sthwest.html#Cornwall">Cornwall</a><span class="c10"> -- </span>
                                                    <a class="c10" href="sthwest.html#Devon">Devon</a><span class="c10"> -- </span>
                                                    <a class="c10" href="sthwest.html#Dorset">Dorset (West)</a><span class="c10"> -- </span>
                                                    <a class="c10" href="sthwest.html#Somerset_and_Bristol">Somerset, Bath and Bristol</a><span class="c10"> -- </span>
                                                    <a class="c10" href="sthwest.html#Wiltshire">Wiltshire</a><span class="c10"></span>
                                                </small>
                                            </small>
                                        </small>
                                    </small>
                                </small>
                            </small>
                        </small>
                    </small>
                </small>
            </h4>

            <br />

            <h3 class="button inputstyle"><strong><strong><center>Vegetarian 2018</center></strong></strong></h3>
            <br />
            <h3><strong><strong><a href="thameschilt.html">Accommodation & Restaurants in Thames & Chilterns</a></strong></strong></h3>
            <h4>
                <small>
                    <small>
                        <small>
                            <small>
                                <small>
                                    <small>
                                        <small>
                                            <small>
                                                <small>
                                                    <a class="c10" href="thameschilt.html#Bedfordshire">Bedfordshire</a><span class="c10"> -- </span>
                                                    <a class="c10" href="thameschilt.html#Berkshire">Berkshire</a><span class="c10"> -- </span>
                                                    <a class="c10" href="thameschilt.html#Hertfordshire">Hertfordshire</a><span class="c10"> -- </span>
                                                    <a class="c10" href="thameschilt.html#Oxfordshire">Oxfordshire</a><span class="c10"></span>
                                                </small>
                                            </small>
                                        </small>
                                    </small>
                                </small>
                            </small>
                        </small>
                    </small>
                </small>
            </h4>
            <br />
            <h3 class="button inputstyle"><strong><strong><center>Vegetarian 2018</center></strong></strong></h3>
            <br />
            <h3><strong><strong><a href="eastanglia.html">Accommodation & Restaurants in East Anglia</a></strong></strong></h3>
            <h4>
                <small>
                    <small>
                        <small>
                            <small>
                                <small>
                                    <small>
                                        <small>
                                            <small>
                                                <small>
                                                    <a class="c10" href="eastanglia.html#Cambridgeshire">Cambridgeshire</a><span class="c10"> -- </span>
                                                    <a class="c10" href="eastanglia.html#Essex">Essex</a><span class="c10"> -- </span>
                                                    <a class="c10" href="eastanglia.html#Norfolk">Norfolk</a><span class="c10"> -- </span>
                                                    <a class="c10" href="eastanglia.html#Suffolk">Suffolk</a><span class="c10"></span>
                                                </small>
                                            </small>
                                        </small>
                                    </small>
                                </small>
                            </small>
                        </small>
                    </small>
                </small>
            </h4>

            <br />
            <h3 class="button inputstyle"><strong><strong><center>Vegetarian 2018</center></strong></strong></h3>
            <br />
            <h3><strong><strong><a href="eastmids.html">Accommodation & Restaurants in East Midlands</a></strong></strong></h3>
            <h4>
                <small>
                    <small>
                        <small>
                            <small>
                                <small>
                                    <small>
                                        <small>
                                            <small>
                                                <small>
                                                    <a class="c10" href="eastmids.html#Derbyshire">Derbyshire</a><span class="c10"> -- </span>
                                                    <a class="c10" href="eastmids.html#Leicestershire">Leicestershire</a><span class="c10"> -- </span>
                                                    <a class="c10" href="eastmids.html#Lincolnshire">Lincolnshire</a><span class="c10"> -- </span>
                                                    <a class="c10" href="eastmids.html#Northamptonshire">Northamptonshire</a><span class="c10"> -- </span>
                                                    <a class="c10" href="eastmids.html#Nottinghamshire">Nottinghamshire</a><span class="c10"></span>
                                                </small>
                                            </small>
                                        </small>
                                    </small>
                                </small>
                            </small>
                        </small>
                    </small>
                </small>
            </h4>

            <br />
            <h3 class="button inputstyle"><strong><strong><center>Vegetarian 2018</center></strong></strong></h3>
            <br />
            <h3><strong><strong><a href="heart.html">Accommodation & Restaurants in the Heart of England</a></strong></strong></h3>
            <h4>
                <small>
                    <small>
                        <small>
                            <small>
                                <small>
                                    <small>
                                        <small>
                                            <small>
                                                <small>
                                                    <a class="c10" href="heart.html#Gloucestershire">Gloucestershire</a><span class="c10"> -- </span>
                                                    <a class="c10" href="heart.html#Herefordshire">Herefordshire</a><span class="c10"> -- </span>
                                                    <a class="c10" href="heart.html#Shropshire">Shropshire</a><span class="c10"> -- </span>
                                                    <a class="c10" href="heart.html#Warwickshire">Warwickshire</a><span class="c10"> -- </span>
                                                    <a class="c10" href="heart.html#West_Midlands">West Midlands</a><span class="c10"> -- </span>
                                                    <a class="c10" href="heart.html#Worcestershire">Worcestershire</a><span class="c10"></span>
                                                </small>
                                            </small>
                                        </small>
                                    </small>
                                </small>
                            </small>
                        </small>
                    </small>
                </small>
            </h4>
            <br />

            <h3 class="button inputstyle"><strong><strong><center>Vegetarian 2018</center></strong></strong></h3>
            <br />
            <h3><strong><strong><a href="ntheast.html">Accommodation & Restaurants in North East England</a></strong></strong></h3>
            <h4>
                <small>
                    <small>
                        <small>
                            <small>
                                <small>
                                    <small>
                                        <small>
                                            <small>
                                                <small>
                                                    <a class="c10" href="ntheast.html#Northumberland">Northumberland</a><span class="c10"> -- </span>
                                                    <a class="c10" href="ntheast.html#Tyne_&_Wear">Tyne & Wear and Newcastle</a><span class="c10"> -- </span>
                                                    <a class="c10" href="ntheast.html#Yorkshire">Yorkshire</a><span class="c10"></span>
                                                </small>
                                            </small>
                                        </small>
                                    </small>
                                </small>
                            </small>
                        </small>
                    </small>
                </small>
            </h4>
            <br />
            <h3 class="button inputstyle"><strong><strong><center>Vegetarian 2018</center></strong></strong></h3>
            <br />
            <h3><strong><strong><a href="nthwest.html">Accommodation & Restaurants in North West England</a></strong></strong></h3>
            <h4>
                <small>
                    <small>
                        <small>
                            <small>
                                <small>
                                    <small>
                                        <small>
                                            <small>
                                                <small>
                                                    <a class="c10" href="nthwest.html#Cheshire">Cheshire</a><span class="c10"> -- </span>
                                                    <a class="c10" href="nthwest.html#Cumbria">Cumbria and the Lake District</a><span class="c10"> -- </span>
                                                    <a class="c10" href="nthwest.html#Isle_of_Man">Isle of Man</a><span class="c10"> -- </span>
                                                    <a class="c10" href="nthwest.html#Lancashire">Lancashire, Manchester and Merseyside</a><span class="c10"></span>
                                                </small>
                                            </small>
                                        </small>
                                    </small>
                                </small>
                            </small>
                        </small>
                    </small>
                </small>
            </h4>
            </section>